---
name: Lint Code Base
on: [pull_request]

jobs:
  megalinter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Lint Code Base
        # uses: oxsecurity/megalinter@v8.3.0
        # uses: oxsecurity/megalinter/flavors/formatters@v8.3.0 # Found in Flavors
        uses: oxsecurity/megalinter/flavors/cupcake@v8.3.0 # Found in Flavors
        env:
          ANSIBLE_ANSIBLE_LINT_CONFIG_FILE: .ansible-lint
          ANSIBLE_ANSIBLE_LINT_RULES_PATH: .github/linters
          ANSIBLE_DIRECTORY: "."
          DEFAULT_BRANCH: main
          ENABLE_LINTERS: ANSIBLE_ANSIBLE_LINT,YAML_YAMLLINT,PYTHON_BLACK
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PRINT_ALPACA: false
          VALIDATE_ALL_CODEBASE: false
          # Python Black Configuration
          PYTHON_BLACK_CONFIG_FILE: .python-black
          PYTHON_BLACK_FILE_EXTENSIONS: .py
